

.bg-light {
  background-color: white!important;
}


#map {
  height: 200px;
  /* The height is 400 pixels */
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  background: red;
  /* The width is the width of the web page */
}
.column {
  float: left;
  width: 33.33%;
  padding: 5px;
}

/* Clearfix (clear floats) */
.row::after {
  content: "";
  clear: both;
  display: table;
}
.navbar {
 
}
article{
  text-align: center;
  margin-top:2em;
  margin-left: 10%;
  margin-right: 10%;
  
  padding: 0%;
}
.wallpaper{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 102%;
  
}
.fade-in {
  animation: fadeIn ease 10s;
  -webkit-animation: fadeIn ease 10s;
  -moz-animation: fadeIn ease 10s;
  -o-animation: fadeIn ease 10s;
  -ms-animation: fadeIn ease 10s;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 102%;
}
@keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-moz-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-webkit-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-o-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-ms-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}
.logo{
  margin-left: auto;  
}
.form-inline{

  background: white;
  border-radius: 0.5%;
  
}
.btn {
  margin-left: 20px;
}

.footer{
  text-align: center;
  color: gray;
}

body {
  background-color: white;
}
@media screen and (max-width: 600px) {
  #map {
    height: 300px;
    /* The height is 400 pixels */
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    /* The width is the width of the web page */
  }

  body {
     background-color: white;
     
  }
  img {
    width: 100%;
    max-width: 400px;
    height: auto;
    
   }
   #map {
  height: 200px;
  /* The height is 400 pixels */
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  background: red;
  /* The width is the width of the web page */
}
}